<div class="container" >
    <h1 class="pt-4">El aroma mágico</h1>
    <hr class="border-secondary mt-4 mb-3">
    <img src="/image-1.jpg" alt="Cafe en grano" class="container-fluid w-75">
    <hr class="border-secondary mb-2">
    <div class="container-fluid">
        <div class="col-4 table-resposive mt-4">
            <table class="table">
            <thead class="custom-color text-white">          
                <th class="h5 pe-5 p-2">#</th>
                <th class="h5 p-2">Nombre</th>
                <th class="h5 p-2">Tipo</th>
                <th class="h5 p-2">Región</th>     
            </thead>
            <tbody>
                <tr *ngFor = "let cafe of cafes">
                    <td class="text-nowrap">
                        <dd class="fw-bold">{{ cafe.id }}</dd>
                    </td>
                    <td class="text-nowrap">
                        <dd>{{ cafe.nombre }}</dd>
                    </td>
                    <td class="text-nowrap">
                        <dd>{{ cafe.tipo }}</dd>
                    </td>
                    <td class="text-nowrap">
                        <dd>{{ cafe.region }}</dd>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    <p>Total café de origen: {{cafeOrigen}}</p>
    <p>Total café blend: {{cafeBlend}}</p>
    <p class="text-center mt-5 text-grey">Contact us: +57 3102105253 - info&#64;elaromamagico.com - &#64;elaromamagico</p>
</div>